<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=5, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> Please sign in</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar bg-dark navbar-dark fixed-top">
    <div class="container-fluid">
        <form class="form-inline">
            <span class="navbar-text-xl text-white h5 font-weight-bold" th:text="${user.getEmail()}"></span>
            <span class="navbar-text-xl text-white h5">&nbsp with roles: &nbsp</span>
            <span class="navbar-text-xl text-white h5"> <a th:each="role: ${user.getRoles()}"
                                                           th:text="${role.getName()} + ' '"></a>
            </span>
        </form>

        <ul class="navbar-nav float-lg-right">
            <li class="nav-item">
                <a class="nav-link text-muted" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">

                <div class="col-sm-2 bg-white min-vh-100">
                    <br/>
                    <br/>
                    <br/>
                    <div class="nav flex-column nav-pills pt-2" id="v-pills-tab" role="tablist"
                         aria-orientation="vertical">
                        <a class="nav-link active" th:href="@{/admin}"
                           aria-controls="v-pills-home" aria-selected="true">Admin</a>
                        <a class="nav-link" th:href="@{/user}"
                           role="tab"
                           aria-controls="v-pills-profile" aria-selected="false">User</a>
                    </div>
                </div>

                <div class="col-sm-10 bg-light" style="background-color: #F7F7F7; height:100vh;">
                    <br/>
                    <br/>
                    <br/>
                    <h1>
                        Admin panel
                    </h1>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#users_table">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#create_user">New User</a>
                        </li>
                    </ul>

                    <div class="tab-content">

                        <div class="tab-pane container-fluid active" id="users_table">
                            <div class="row">
                                <div class="col border bg-light">
                                    <p><h5>All users</h5>
                                </div>
                                <div class="w-100"></div>
                                <div class="col border bg-white">
                                    <br/>
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user:${allUsers}">
                                            <td th:utext="${user.getId()}"></td>
                                            <td th:utext="${user.getFirstName()}">/td>
                                            <td th:utext="${user.getLastName()}"></td>
                                            <td th:utext="${user.getAge()}"></td>
                                            <td th:utext="${user.getEmail()}"></td>
                                            <td><a th:each="role: ${user.getRoles()}"
                                                   th:text="${role.getName()} + ' '"></a></td>
                                            <td>
                                                <button class="btn btn-info" data-toggle="modal"
                                                        th:data-target="${'#editModal' + user.getId()}"
                                                        type="button">Edit
                                                </button>
                                                <div class="modal" th:id="${'editModal' + user.getId()}">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Edit user</h5>
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal">
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="form-group row justify-content-center text-center">
                                                                    <form th:method="PATCH"
                                                                          th:action="@{/admin/{id} (id=${user.getId()})}"
                                                                          th:object="${user}">
                                                                        <strong><label
                                                                                for="editId">ID: </label></strong>
                                                                        <br/>
                                                                        <input class="form-control" id="editId"
                                                                               name="id" readonly
                                                                               th:value="${user.getId()}"
                                                                               type="number">
                                                                        <br/>

                                                                        <strong><label for="editFirstName">First
                                                                            name</label></strong>
                                                                        <br/>
                                                                        <input class="form-control" id="editFirstName"
                                                                               maxlength="50"
                                                                               minlength="3" name="firstName"
                                                                               required
                                                                               th:value="${user.getFirstName()}"
                                                                               type="text">
                                                                        <br/>

                                                                        <strong><label for="editLastName">Last
                                                                            name</label></strong>
                                                                        <br/>
                                                                        <input class="form-control" id="editLastName"
                                                                               maxlength="50"
                                                                               minlength="3" name="lastName"
                                                                               required th:value="${user.getLastName()}"
                                                                               type="text">
                                                                        <br/>

                                                                        <strong><label
                                                                                for="editAge">Age</label></strong>
                                                                        <br/>
                                                                        <input class="form-control" id="editAge"
                                                                               maxlength="3" minlength="1"
                                                                               name="age"
                                                                               required th:value="${user.getAge()}"
                                                                               type="number">
                                                                        <br/>

                                                                        <strong><label
                                                                                for="editEmail">Email</label></strong>
                                                                        <br/>
                                                                        <input class="form-control" id="editEmail"
                                                                               maxlength="50" minlength="3"
                                                                               name="email"
                                                                               required th:value="${user.getEmail()}"
                                                                               type="text">
                                                                        <br/>

                                                                        <strong><label
                                                                                for="editPassword">Password</label></strong>
                                                                        <br/>
                                                                        <input class="form-control" id="editPassword"
                                                                               name="password" th:value="null"
                                                                               type="password">
                                                                        <br/>

                                                                        <strong> <label
                                                                                for="editRoles">Role</label></strong>
                                                                        <select class="form-control w-10" id="editRoles"
                                                                                multiple name="inputRoles" size="2">
                                                                            <option
                                                                                    th:each="role : ${roleList}"
                                                                                    th:text="${role.getName()}"
                                                                                    th:value="${role.getName()}">
                                                                            </option>
                                                                        </select>

                                                                        <div class="modal-footer float-sm-right">
                                                                            <button type="button"
                                                                                    class="btn btn-secondary"
                                                                                    data-dismiss="modal">Close
                                                                            </button>

                                                                            <button type="submit"
                                                                                    class="btn btn-primary">Edit
                                                                            </button>
                                                                        </div>
                                                                    </form>
                                                                </div>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <button class="btn btn-danger" data-toggle="modal"
                                                        th:data-target="${'#delete' + user.getId()}"
                                                        type="button">Delete
                                                </button>

                                                <div class="modal" th:id="${'delete' + user.getId()}">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">

                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Delete user</h5>
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal">
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="form-group row justify-content-center text-center">
                                                                    <form th:method="delete"
                                                                          th:action="@{/admin/{id}(id=${user.getId()})}"
                                                                          th:object="${user}">
                                                                        <strong><label
                                                                                for="deleteId">ID: </label></strong>
                                                                        <br/>
                                                                        <input class="form-control" id="deleteId"
                                                                               name="id" readonly
                                                                               th:value="${user.getId()}"
                                                                               type="number">
                                                                        <br/>

                                                                        <strong><label for="deleteFirstName">First
                                                                            name</label></strong>
                                                                        <br/>
                                                                        <input class="form-control" id="deleteFirstName"
                                                                               maxlength="50"
                                                                               minlength="3"
                                                                               name="firstName" readonly
                                                                               required
                                                                               th:value="${user.getFirstName()}"
                                                                               type="text">
                                                                        <br/>

                                                                        <strong><label for="deleteLastName">Last
                                                                            name</label></strong>
                                                                        <br/>
                                                                        <input class="form-control" id="deleteLastName"
                                                                               maxlength="50"
                                                                               minlength="3"
                                                                               name="lastName" readonly
                                                                               required th:value="${user.getLastName()}"
                                                                               type="text">
                                                                        <br/>

                                                                        <strong><label
                                                                                for="deleteAge">Age</label></strong>
                                                                        <br/>
                                                                        <input class="form-control" id="deleteAge"
                                                                               maxlength="3"
                                                                               minlength="1"
                                                                               name="age" readonly
                                                                               required th:value="${user.getAge()}"
                                                                               type="number">
                                                                        <br/>

                                                                        <strong><label
                                                                                for="deleteEmail">Email</label></strong>
                                                                        <br/>
                                                                        <input class="form-control" id="deleteEmail"
                                                                               maxlength="50"
                                                                               minlength="3"
                                                                               name="email" readonly
                                                                               required th:value="${user.getEmail()}"
                                                                               type="text">
                                                                        <br/>

                                                                        <strong> <label
                                                                                for="deleteRoles">Role</label></strong>
                                                                        <select class="form-control w-100"
                                                                                id="deleteRoles"
                                                                                multiple name="inputRoles" readonly
                                                                                size="2">
                                                                            <option
                                                                                    th:each="role : ${roleList}"
                                                                                    th:text="${role.getName()}"
                                                                                    th:value="${role.getName()}">
                                                                            </option>
                                                                        </select>
                                                                        <div class="modal-footer">
                                                                            <button type="button"
                                                                                    class="btn btn-secondary"
                                                                                    data-dismiss="modal">Close
                                                                            </button>
                                                                            <input class="btn btn-danger" type="submit"
                                                                                   value="delete"/>
                                                                        </div>
                                                                    </form>
                                                                </div>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                        <div class="tab-pane container-fluid fade" id="create_user">
                            <div class=" form-group justify-content-center">
                                <div class="col border bg-light">
                                    <p><h5>Add new user</h5>
                                </div>
                                <div class="w-100"></div>
                                <div class="col border bg-white justify-content-center text-center">
                                    <br/>
                                    <form method="post" th:action="@{/admin}" th:object="${newUser}">
                                        <div class="form-group justify-content-center align-items-center">
                                            <div class="col-sm-3 offset-4">
                                                <strong><label for="newFirstName">First name</label></strong>
                                                <br/>
                                                <input class="form-control " id="newFirstName" maxlength="50"
                                                       minlength="3"
                                                       placeholder="First name" required th:field="*{firstName}"
                                                       type="text">
                                            </div>

                                            <div class="col-sm-3 offset-4">
                                                <strong><label for="newLastName">Last name</label></strong>
                                                <br/>
                                                <input class="form-control" id="newLastName" maxlength="50"
                                                       minlength="3"
                                                       placeholder="Last name" required th:field="*{lastName}"
                                                       type="text">
                                            </div>

                                            <div class="col-sm-3 offset-4">
                                                <strong><label for="newAge">Age</label></strong>
                                                <br/>
                                                <input class="form-control" id="newAge" maxlength="3" minlength="1"
                                                       placeholder="age" required th:field="*{age}" type="number">
                                            </div>

                                            <div class="col-sm-3 offset-4">
                                                <strong><label for="newEmail">Email</label></strong>
                                                <br/>
                                                <input class="form-control" id="newEmail" maxlength="50" minlength="3"
                                                       placeholder="Email" required th:field="*{email}" type="text">
                                            </div>

                                            <div class="col-sm-3 offset-4">
                                                <strong><label for="newPassword">Password</label></strong>
                                                <br/>
                                                <input class="form-control" id="newPassword" placeholder="Password"
                                                       required
                                                       th:field="*{password}" type="password">
                                            </div>

                                            <div class="col-sm-3 offset-4">
                                                <strong> <label for="roles">Role</label> </strong>
                                                <select class="form-control w-100" id="roles" multiple name="inputRoles"
                                                        size="2">
                                                    <option
                                                            th:each="role : ${roleList}"
                                                            th:text="${role.getName()}"
                                                            th:value="${role.getName()}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 offset-4">
                                            <button class="btn btn-success " type="submit">
                                                Add new user
                                            </button>
                                        </div>
                                        <br/>
                                        <br/>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>