<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>User</title>
    <style>table th, table td {
        padding: 5px;
    }</style>
</head>
<body>
<h2>User info</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Phone number</th>
    </tr>
    <tr>
        <td th:utext="${user.getName()}">Name</td>
        <td th:utext="${user.getSurname()}">Surname</td>
        <td th:utext="${user.getPhoneNumber()}">Phone number</td>
    </tr>
</table>
<br>

<button><a th:href="@{/logout}">Logout</a></button>
</body>
</html>
