<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Update user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/{id} (id=${user.getId()})}" th:object="${user}">
  <table>
    <tr>
      <td><label for="name">Name: </label></td>
      <td><input type="text" th:field="*{name}" id="name"/></td>
    </tr>
    <tr>
      <td><label for="surname">Surname:</label></td>
      <td><input type="text" th:field="*{surname}" id="surname"/></td>
    </tr>
    <tr>
      <td><label for="phoneNumber">Phone number:</label></td>
      <td><input type="text" th:field="*{phoneNumber}" id="phoneNumber"/></td>
    </tr>
    <tr>
      <td><label for="password">Password:</label></td>
      <td><input type="text" th:field="*{password}" id="password"/></td>
    </tr>
  </table>
  <input type="submit" value="Update">
</form>
</body>
</html>